@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: IBMPlexSans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


    background: url('../public/static/background.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #373b64;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre{
  margin: 0;
}

p{
  font-weight: 500;
}

:root{
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  -text-white-100: rgba(229, 231, 235, 1);
}